{% extends 'base.html.twig' %}

{% block title %}Editer l'équipement{% endblock %}

{% block body %}
    <h1 class="edit-title">Modifier l'équipement</h1>

    <div class="edit-form">
        {{ include('equipment/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    
    <div class="edit-button-delete">
        {{ include('equipment/_delete_form.html.twig') }}
    </div>
{% endblock %}    