{% extends 'base.html.twig' %}

{% block title %}Nouvel équipement{% endblock %}

{% block body %}
    <h1 class="edit-title">Créer nouvel équipement</h1>

    <div class="edit-form">
        {{ include('equipment/_form.html.twig') }}
    </div>
    
{% endblock %}
