$wild-color: #ff6c71;
$light-color: #fffbfb;
$oxfordBlue: #2e3b4a;
$selectiveYellow: #ffbc00;
$codGray: #191919;
$catskillWhite: #f4f7f9;
$apple:#66a146;
$dodger: #0081d8;

//fonts
$regular: 400;
$bold: 700;
