{% block navigation %}
    <nav>
        <a href="" ><img class="tracteur" src="{{ asset('/build/images/trakteur.png') }}" alt="Equipment"/></a>
        <a href="" ><img src="{{ asset('/build/images/home.png') }}" alt="Home"/></a>
        <a href="" ><img src="{{ asset('/build/images/user.png') }}" alt="User"/></a>
    </nav>  
{% endblock %}
