{% block navigation %}
    <nav>
        <a href="" ><img src="{{ asset('/build/images/trakteur.4bda1c66.png') }}" alt="Equipment"/></a>
        <a href="" ><img src="{{ asset('/build/images/home.54c8cb3f.png') }}" alt="Home"/></a>
        <a href="" ><img src="{{ asset('/build/images/user.9ecc7c57.png') }}" alt="User"/></a>
    </nav>  
{% endblock %}
