{% extends 'base.html.twig' %}

{% block title %}Editer le profil{% endblock %}

{% block body %}
    <h1 class="edit-title">Modifier le profil</h1>

    <div class="edit-form">
    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>

    <div class="edit-button-delete">
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
