{% extends 'base.html.twig' %}

{% block title %}Nouveau profil{% endblock %}

{% block body %}
    <h1 class="edit-title">Créer un nouveau profil</h1>

    <div class="edit-form">
        {{ include('user/_form.html.twig') }}
    </div>
    
{% endblock %}
